# Interface files
*.hi
*.o
*.dyn_hi
*.dyn_o

# Cabal's distribution directory
dist

# Emacs tags files
TAGS
tags

# Other files
*.actual
Main

# cabal sandboxes
cabal.sandbox.config
.cabal-sandbox

# cabal new-build
dist-*
cabal.project.local
cabal.project.local~
.ghc.environment.*

# stack
.stack-work/
