Singletons/Empty.hs:(0,0)-(0,0): Splicing declarations
    singletons [d| data Empty |]
  ======>
    data Empty
    data instance Sing :: Empty -> GHC.Types.Type :: Empty
                                                     -> GHC.Types.Type
    type SEmpty = (Sing :: Empty -> GHC.Types.Type)
    instance SingKind Empty where
      type Demote Empty = Empty
      fromSing x = case x of
      toSing x = SomeSing (case x of)
