Singletons/T209.hs:(0,0)-(0,0): Splicing declarations
    singletons
      [d| m :: a -> b -> Bool -> Bool
          m _ _ x = x
          
          class C a b
          data Hm
            = Hm
            deriving anyclass (C Bool)
          
          deriving anyclass instance C a a => C a (Maybe a) |]
  ======>
    class C a b
    m :: a -> b -> Bool -> Bool
    m _ _ x = x
    data Hm
      = Hm
      deriving anyclass (C Bool)
    deriving anyclass instance C a a => C a (Maybe a)
    type HmSym0 = Hm
    type MSym3 (t :: a0123456789876543210) (t :: b0123456789876543210) (t :: Bool) =
        M t t t
    instance SuppressUnusedWarnings MSym2 where
      suppressUnusedWarnings
        = snd ((GHC.Tuple.(,) MSym2KindInference) GHC.Tuple.())
    data MSym2 (l :: a0123456789876543210) (l :: b0123456789876543210) (l :: TyFun Bool Bool) :: GHC.Types.Type
      where
        MSym2KindInference :: forall l l l arg.
                              SameKind (Apply (MSym2 l l) arg) (MSym3 l l arg) => MSym2 l l l
    type instance Apply (MSym2 l l) l = M l l l
    instance SuppressUnusedWarnings MSym1 where
      suppressUnusedWarnings
        = snd ((GHC.Tuple.(,) MSym1KindInference) GHC.Tuple.())
    data MSym1 (l :: a0123456789876543210) (l :: TyFun b0123456789876543210 ((~>) Bool Bool)) :: GHC.Types.Type
      where
        MSym1KindInference :: forall l l arg.
                              SameKind (Apply (MSym1 l) arg) (MSym2 l arg) => MSym1 l l
    type instance Apply (MSym1 l) l = MSym2 l l
    instance SuppressUnusedWarnings MSym0 where
      suppressUnusedWarnings
        = snd ((GHC.Tuple.(,) MSym0KindInference) GHC.Tuple.())
    data MSym0 (l :: TyFun a0123456789876543210 ((~>) b0123456789876543210 ((~>) Bool Bool))) :: GHC.Types.Type
      where
        MSym0KindInference :: forall l arg.
                              SameKind (Apply MSym0 arg) (MSym1 arg) => MSym0 l
    type instance Apply MSym0 l = MSym1 l
    type family M (a :: a) (a :: b) (a :: Bool) :: Bool where
      M _ _ x = x
    class PC (a :: GHC.Types.Type) (b :: GHC.Types.Type)
    instance PC Bool Hm
    instance PC a (Maybe a)
    sM ::
      forall a b (t :: a) (t :: b) (t :: Bool).
      Sing t
      -> Sing t
         -> Sing t -> Sing (Apply (Apply (Apply MSym0 t) t) t :: Bool)
    sM _ _ (sX :: Sing x) = sX
    instance SingI (MSym0 :: (~>) a ((~>) b ((~>) Bool Bool))) where
      sing = (singFun3 @MSym0) sM
    instance SingI d =>
             SingI (MSym1 (d :: a) :: (~>) b ((~>) Bool Bool)) where
      sing = (singFun2 @(MSym1 (d :: a))) (sM (sing @_ @d))
    instance (SingI d, SingI d) =>
             SingI (MSym2 (d :: a) (d :: b) :: (~>) Bool Bool) where
      sing
        = (singFun1 @(MSym2 (d :: a) (d :: b)))
            ((sM (sing @_ @d)) (sing @_ @d))
    data instance Sing :: Hm -> GHC.Types.Type :: Hm -> GHC.Types.Type
      where SHm :: Sing Hm
    type SHm = (Sing :: Hm -> GHC.Types.Type)
    instance SingKind Hm where
      type Demote Hm = Hm
      fromSing SHm = Hm
      toSing Hm = SomeSing SHm
    class SC a b
    instance SC Bool Hm
    instance SC a a => SC a (Maybe a)
    instance SingI Hm where
      sing = SHm
