Singletons/T33.hs:0:0: Splicing declarations
    singletons
      [d| foo :: (Bool, Bool) -> ()
          foo ~(_, _) = () |]
  ======>
    Singletons/T33.hs:(0,0)-(0,0)
    foo :: (Bool, Bool) -> ()
    foo ~(_, _) = GHC.Tuple.()
    type FooSym1 (t :: GHC.Tuple.(,) Bool Bool) = Foo t
    instance SuppressUnusedWarnings FooSym0 where
      suppressUnusedWarnings _
        = snd (GHC.Tuple.(,) FooSym0KindInference GHC.Tuple.())
    data FooSym0 (l :: TyFun (GHC.Tuple.(,) Bool Bool) GHC.Tuple.())
      = forall arg. (GHC.Types.~) (KindOf (Apply FooSym0 arg)) (KindOf (FooSym1 arg)) =>
        FooSym0KindInference
    type instance Apply FooSym0 l = FooSym1 l
    type family Foo (a :: GHC.Tuple.(,) Bool Bool) :: GHC.Tuple.() where
      Foo (GHC.Tuple.(,) _z_0123456789 _z_0123456789) = Tuple0Sym0
    sFoo ::
      forall (t :: GHC.Tuple.(,) Bool Bool).
      Sing t -> Sing (Apply FooSym0 t)
    sFoo (STuple2 _s_z_0123456789 _s_z_0123456789)
      = let
          lambda ::
            forall _z_0123456789
                   _z_0123456789. (GHC.Types.~) t (Apply (Apply Tuple2Sym0 _z_0123456789) _z_0123456789) =>
            Sing _z_0123456789
            -> Sing _z_0123456789
               -> Sing (Apply FooSym0 (Apply (Apply Tuple2Sym0 _z_0123456789) _z_0123456789))
          lambda _z_0123456789 _z_0123456789 = STuple0
        in lambda _s_z_0123456789 _s_z_0123456789

Singletons/T33.hs:0:0: Warning:
    Lazy pattern converted into regular pattern in promotion

Singletons/T33.hs:0:0: Warning:
    Lazy pattern converted into regular pattern during singleton generation.
