Promote/Classes2.hs:(0,0)-(0,0): Splicing declarations
    promoteOnly
      [d| instance MyOrd NatFoo where
            ZeroFoo `mycompare` ZeroFoo = EQ
            ZeroFoo `mycompare` (SuccFoo _) = LT
            (SuccFoo _) `mycompare` ZeroFoo = GT
            (SuccFoo n) `mycompare` (SuccFoo m) = m `mycompare` n |]
  ======>
    type family Mycompare_0123456789 (a :: NatFoo)
                                     (a :: NatFoo) :: Ordering where
      Mycompare_0123456789 (ZeroFoo :: NatFoo) (ZeroFoo :: NatFoo) = (EQSym0 :: Ordering)
      Mycompare_0123456789 (ZeroFoo :: NatFoo) (SuccFoo _z_0123456789 :: NatFoo) = (LTSym0 :: Ordering)
      Mycompare_0123456789 (SuccFoo _z_0123456789 :: NatFoo) (ZeroFoo :: NatFoo) = (GTSym0 :: Ordering)
      Mycompare_0123456789 (SuccFoo n :: NatFoo) (SuccFoo m :: NatFoo) = (Apply (Apply MycompareSym0 m) n :: Ordering)
    type Mycompare_0123456789Sym2 (t :: NatFoo) (t :: NatFoo) =
        Mycompare_0123456789 t t
    instance SuppressUnusedWarnings Mycompare_0123456789Sym1 where
      suppressUnusedWarnings _
        = snd
            (GHC.Tuple.(,) Mycompare_0123456789Sym1KindInference GHC.Tuple.())
    data Mycompare_0123456789Sym1 (l :: NatFoo)
                                  (l :: TyFun NatFoo Ordering)
      = forall arg. KindOf (Apply (Mycompare_0123456789Sym1 l) arg) ~ KindOf (Mycompare_0123456789Sym2 l arg) =>
        Mycompare_0123456789Sym1KindInference
    type instance Apply (Mycompare_0123456789Sym1 l) l = Mycompare_0123456789Sym2 l l
    instance SuppressUnusedWarnings Mycompare_0123456789Sym0 where
      suppressUnusedWarnings _
        = snd
            (GHC.Tuple.(,) Mycompare_0123456789Sym0KindInference GHC.Tuple.())
    data Mycompare_0123456789Sym0 (l :: TyFun NatFoo (TyFun NatFoo Ordering
                                                      -> *))
      = forall arg. KindOf (Apply Mycompare_0123456789Sym0 arg) ~ KindOf (Mycompare_0123456789Sym1 arg) =>
        Mycompare_0123456789Sym0KindInference
    type instance Apply Mycompare_0123456789Sym0 l = Mycompare_0123456789Sym1 l
    instance PMyOrd (KProxy :: KProxy NatFoo) where
      type Mycompare (a :: NatFoo) (a :: NatFoo) = Mycompare_0123456789 a a
