Promote/GenDefunSymbols.hs:0:0: Splicing declarations
    genDefunSymbols [''LiftMaybe, ''Nat]
  ======>
    Promote/GenDefunSymbols.hs:0:0:
    type LiftMaybeSym2 t t = LiftMaybe t t
    data LiftMaybeSym1 (l :: TyFun a b -> *)
                       (l :: TyFun (Maybe a) (Maybe b))
    type instance Apply (LiftMaybeSym1 l) l = LiftMaybeSym2 l l
    data LiftMaybeSym0 (l :: TyFun (TyFun a b
                                    -> *) (TyFun (Maybe a) (Maybe b) -> *))
    type instance Apply LiftMaybeSym0 l = LiftMaybeSym1 l
    type ZeroSym0 = Zero
    type SuccSym1 t = Succ t
    data SuccSym0 (l :: TyFun Nat Nat)
    type instance Apply SuccSym0 l = SuccSym1 l
