Promote/Newtypes.hs:0:0: Splicing declarations
    promote
      [d| newtype Foo
            = Foo Nat
            deriving (Eq)
          newtype Bar = Bar {unBar :: Nat} |]
  ======>
    Promote/Newtypes.hs:(0,0)-(0,0)
    newtype Foo
      = Foo Nat
      deriving (Eq)
    newtype Bar = Bar {unBar :: Nat}
    type family Equals_0123456789 (a :: Foo) (b :: Foo) :: Bool where
      Equals_0123456789 (Foo a) (Foo b) = (==) a b
      Equals_0123456789 (a :: Foo) (b :: Foo) = FalseSym0
    type instance (==) (a :: Foo) (b :: Foo) = Equals_0123456789 a b
    type FooSym1 t = Foo t
    data FooSym0 (l :: TyFun Nat Foo)
    type instance Apply FooSym0 l = FooSym1 l
    type BarSym1 t = Bar t
    data BarSym0 (l :: TyFun Nat Bar)
    type instance Apply BarSym0 l = BarSym1 l
