INSERT tests/compile-and-dump/Singletons/Nat.ghc76.template
Promote/NumArgs.hs:0:0: Splicing declarations
    promote
      [d| returnFunc :: Nat -> Nat -> Nat
          returnFunc _ = Succ |]
  ======>
    Promote/NumArgs.hs:(0,0)-(0,0)
    returnFunc :: Nat -> Nat -> Nat
    returnFunc _ = Succ
    type family ReturnFunc (a :: Nat) :: Nat -> Nat
    type instance ReturnFunc z = Succ
    data ReturnFuncSym0 (a :: TyFun Nat (Nat -> Nat))
    type instance Apply ReturnFuncSym0 a = ReturnFunc a
